* {
    background-color: #dbf1ee;
}

#sel2 {
    margin-bottom: 0.75rem;
}
.img {
	width: 100px;
	height: auto;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}